body {
	background-color: #ecf0f1;
	font-family: 'Josefin Slab', sans-serif;
}

#hall {
	font-family: 'Nixie One', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
	padding-bottom: 10px;
	color: #000;
	border-bottom: 1px solid #2c3e50;
}

.meal ul {
	margin: 10px 0 0 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.meal ul li {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-transform: none;
}

#meals {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.meal {
	color: #2c3e50;
	display: inline;
	float: left;
	width: 33%;
	padding-bottom: 10px;
}

.meal h1 {
	color: #000;
	margin-bottom: 0;
}

#breakfast ul li, #lunch ul li, #dinner ul li {
	display: block;
}

ul p {
	cursor: pointer;
	margin: 20px 0 0 0;
	color: #34495e;
}

.plus::before, .minus::before {
	border: 1px solid #34495e;
	margin: 0 5px 4.5px 0;
	line-height: .4;
	display: inline-block;
	vertical-align: middle;
}

.minus::before {
	content: "-";
	padding: 2px 3px;
}

.plus::before {
	content: "+";
	padding: 2px 1px;
}

.DELI___PANINI li, .FRUIT___YOGURT li, .PASTA___SAUCES li,
.SAUCES_GRAVIES___TOPPINGS li, .BREADS___ROLLS li,
.BRK_BREADS_PASTRIES___TOPPINGS, .CHAR_GRILL_STATIONS li {
	display: none !important;
}