body {
	background-color: #ecf0f1;
	font-family: 'Josefin Slab', sans-serif;
}

#hall {
	margin-top: -5px;
	font-family: 'Nixie One', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
	padding-bottom: 10px;
	color: #000;
	border-bottom: 1px solid #2c3e50;
}

#newHall, #datepicker {
	font-size: 16px;
	cursor: pointer;
	opacity: 0.7;
}

#newHall {
	display: block;
	margin-left: 110px;
	text-transform: lowercase;
}

#datepicker {
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0;
	text-align: left;
}

.hideDates div {
	display: none !important;
	opacity: 1;
}

.meal ul {
	margin: 10px 0 0 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.meal ul li {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-transform: none;
}

#meals {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.meal {
	color: #2c3e50;
	display: inline;
	float: left;
	width: 33%;
	padding-bottom: 10px;
	margin: 10px 0;
}

.meal h1 {
	color: #000;
	margin: 10px 0;
}

#breakfast ul li, #lunch ul li, #dinner ul li {
	display: block;
}

#lunch {
	border-left: 1px solid #888;
	border-right: 1px solid #888;
}

ul p {
	cursor: pointer;
	margin: 20px 0 0 0;
	color: #34495e;
}

.plus p::before, .minus p::before {
	border: 1px solid #34495e;
	margin: 0 5px 4.5px 0;
	line-height: .4;
	display: inline-block;
	vertical-align: middle;
}

.minus p::before {
	content: "-";
	padding: 2px 3px;
}

.plus p::before {
	content: "+";
	padding: 2px 1px;
}

.plus li {
	display: none !important;
}

/* datepicer things */
.ui-datepicker, .ui-datepicker-header {
	border-radius: 0 !important;
}